<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <!-- Підключення CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Ласкаво просимо на мій сайт</h1>
    <!-- Додавання зображення -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип">

    {{ full_name(product) }}

    {% block content %}
    {{ utc }}
    {% endblock %}
</body>
</html>